In [170]:
%matplotlib inline

import matplotlib.pyplot as plt
from functools import reduce
import seaborn as sns; sns.set(rc={'figure.figsize':(15,15)})
import numpy as np
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from sqlalchemy import create_engine
engine = create_engine('postgresql://postgres:postgres@127.0.0.1:5555/mimic')
scaler = MinMaxScaler()

In [171]:
sql = """
SELECT 
    EXTRACT(YEAR FROM gen_dischtime) AS year,
    EXTRACT(MONTH FROM gen_dischtime) AS month,
    EXTRACT(DOW FROM gen_dischtime) AS dow,
    EXTRACT(DOY FROM gen_dischtime) AS doy,
    COUNT(DISTINCT subject_id) as y
FROM mimiciii.patient_flow
GROUP BY 
    EXTRACT(YEAR FROM gen_dischtime),
    EXTRACT(MONTH FROM gen_dischtime),
    EXTRACT(DOW FROM gen_dischtime),
    EXTRACT(DOY FROM gen_dischtime)
ORDER BY year, doy;
"""

In [172]:
df = pd.read_sql(sql, engine)
df['wbf'] = df.y.shift(7)
df['ybf'] = df.y.shift(365)
df = df.dropna().reset_index(drop=True)

scaled1 = scaler.fit_transform(df[['y']].values)
scaled2 = scaler.transform(df[['wbf']].values)
scaled3 = scaler.transform(df[['ybf']].values)

df['y'] = scaled1
df['wbf'] = scaled2
df['ybf'] = scaled3

df.year = df.year.astype(int).astype(str)
df.month = df.month.astype(int).astype(str)
df.dow = df.dow.astype(int)
df.doy = df.doy.astype(int)

In [174]:
df.head()

   year month  dow  doy     y   wbf   ybf
0  2002     1    2    1  0.32  0.36  0.28
1  2002     1    3    2  0.40  0.16  0.48
2  2002     1    4    3  0.56  0.36  0.40
3  2002     1    5    4  0.28  0.48  0.84
4  2002     1    6    5  0.32  0.44  0.36

## 퇴원환자수 예측에 필요한 변수는 무엇일까?

In [144]:
prefix = ['year', 'month']
data_frames = [
    pd.get_dummies(df[prefix], prefix=prefix),
    np.sin(df.doy * np.pi / 180),
    np.cos(df.doy * np.pi / 180),
    np.sin(df.dow * np.pi / 180),
    np.cos(df.dow * np.pi / 180),
    df[['ybf']]
]
df_merged = reduce(lambda  left,right: pd.merge(left, right, how='inner', left_index=True, right_index=True), 
                   data_frames)

In [145]:
df_merged.shape

(4018, 28)

In [146]:
df_merged.head()

,year_2002,year_2003,year_2004,year_2005,year_2006,year_2007,year_2008,year_2009,year_2010,year_2011,...,month_5,month_6,month_7,month_8,month_9,doy_x,doy_y,dow_x,dow_y,ybf
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0.017452,0.999848,0.034899,0.999391,0.28
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0.034899,0.999391,0.052336,0.998630,0.48
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0.052336,0.998630,0.069756,0.997564,0.40
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0.069756,0.997564,0.087156,0.996195,0.84
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0.087156,0.996195,0.104528,0.994522,0.36

In [147]:
Y = df.y.values
Y.shape

(4018,)

## 일주일 전에 예측한다면?

In [148]:
input_data = df_merged.values

In [149]:
timestep = 7
data_len = df_merged.shape[0]
n_features = df_merged.shape[1]
data_len, timestep, n_features

(4018, 7, 28)

In [150]:
train_size = int(.8 * data_len)
X = []
y = []
for i in range(data_len - timestep - 1):
    t=[]
    for j in range(0,timestep):
        t.append(input_data[[(i + j)], :])
    X.append(t)
    y.append(Y[i + timestep])

In [151]:
X, y= np.array(X), np.array(y)
X_train = X[:train_size] # :train_size + timestep
X_test = X[train_size:]
y_train = y[:train_size]
y_test = y[train_size:]

X_train = X_train.reshape(X_train.shape[0], timestep, n_features)
X_test = X_test.reshape(X_test.shape[0], timestep, n_features)

In [152]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((3214, 7, 28), (796, 7, 28), (3214,), (796,))

## 퇴원환자수 예측은 얼마나 정확할까?

In [153]:
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LSTM, GRU
from keras import optimizers
import tensorflow as tf

In [ ]:
batch_size = 128
units = 32


model_lstm = Sequential()
model_lstm.add(GRU(units, return_sequences=True, input_shape=(X_train.shape[1], X_train.shape[2]),
                  recurrent_dropout=0.015))
# model_lstm.add(GRU(units=16, return_sequences=True, recurrent_dropout=0.015))
model_lstm.add(GRU(units=int(units/2), recurrent_dropout=0.015))
model_lstm.add(Dense(units=1))

opt = optimizers.Adam(0.001, beta_1=0.9, beta_2=0.9, amsgrad=False)

model_lstm.compile(loss='mae', optimizer=opt, metrics=['mse', 'mae'])
model_lstm.summary()

model_lstm.fit(X_train, y_train,
              validation_data=(X_test, y_test),
              batch_size=batch_size,
              epochs=100)

Model: "sequential_35"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
gru_69 (GRU)                 (None, 7, 32)             5856
_________________________________________________________________
gru_70 (GRU)                 (None, 16)                2352
_________________________________________________________________
dense_34 (Dense)             (None, 1)                 17
=================================================================
Total params: 8,225
Trainable params: 8,225
Non-trainable params: 0
_________________________________________________________________
Train on 3214 samples, validate on 796 samples
Epoch 1/100
3214/3214 [==============================] - 2s 544us/step - loss: 0.2191 - mse: 0.0801 - mae: 0.2191 - val_loss: 0.1432 - val_mse: 0.0332 - val_mae: 0.1432
Epoch 2/100
3214/3214 [==============================] - 0s 70us/step - loss: 0.1268 - mse: 0.0259 - mae: 0.1268 - val_loss: 0.1454 - val_mse: 0.0335 - val_mae: 0.1454
Epoch 3/100
3214/3214 [==============================] - 0s 56us/step - loss: 0.1225 - mse: 0.0239 - mae: 0.1225 - val_loss: 0.1312 - val_mse: 0.0275 - val_mae: 0.1312
Epoch 4/100
3214/3214 [==============================] - 0s 55us/step - loss: 0.1223 - mse: 0.0238 - mae: 0.1223 - val_loss: 0.1490 - val_mse: 0.0349 - val_mae: 0.1490
Epoch 5/100
3214/3214 [==============================] - 0s 53us/step - loss: 0.1222 - mse: 0.0235 - mae: 0.1222 - val_loss: 0.1332 - val_mse: 0.0282 - val_mae: 0.1332
Epoch 6/100
3214/3214 [==============================] - 0s 55us/step - loss: 0.1208 - mse: 0.0233 - mae: 0.1208 - val_loss: 0.1368 - val_mse: 0.0299 - val_mae: 0.1368
Epoch 7/100
3214/3214 [==============================] - 0s 55us/step - loss: 0.1201 - mse: 0.0230 - mae: 0.1201 - val_loss: 0.1369 - val_mse: 0.0298 - val_mae: 0.1369
Epoch 8/100
3214/3214 [==============================] - 0s 56us/step - loss: 0.1201 - mse: 0.0230 - mae: 0.1201 - val_loss: 0.1284 - val_mse: 0.0263 - val_mae: 0.1284
Epoch 9/100
3214/3214 [==============================] - 0s 62us/step - loss: 0.1194 - mse: 0.0228 - mae: 0.1194 - val_loss: 0.1395 - val_mse: 0.0308 - val_mae: 0.1395
Epoch 10/100
3214/3214 [==============================] - 0s 53us/step - loss: 0.1197 - mse: 0.0229 - mae: 0.1197 - val_loss: 0.1350 - val_mse: 0.0290 - val_mae: 0.1350
Epoch 11/100
3214/3214 [==============================] - 0s 55us/step - loss: 0.1199 - mse: 0.0230 - mae: 0.1199 - val_loss: 0.1358 - val_mse: 0.0295 - val_mae: 0.1358
Epoch 12/100
3214/3214 [==============================] - 0s 55us/step - loss: 0.1191 - mse: 0.0227 - mae: 0.1191 - val_loss: 0.1341 - val_mse: 0.0287 - val_mae: 0.1341
Epoch 13/100
3214/3214 [==============================] - 0s 55us/step - loss: 0.1192 - mse: 0.0227 - mae: 0.1192 - val_loss: 0.1344 - val_mse: 0.0288 - val_mae: 0.1344
Epoch 14/100
3214/3214 [==============================] - 0s 55us/step - loss: 0.1192 - mse: 0.0228 - mae: 0.1192 - val_loss: 0.1398 - val_mse: 0.0309 - val_mae: 0.1398
Epoch 15/100
3214/3214 [==============================] - 0s 55us/step - loss: 0.1184 - mse: 0.0226 - mae: 0.1184 - val_loss: 0.1283 - val_mse: 0.0263 - val_mae: 0.1283
Epoch 16/100
3214/3214 [==============================] - 0s 55us/step - loss: 0.1201 - mse: 0.0229 - mae: 0.1201 - val_loss: 0.1375 - val_mse: 0.0300 - val_mae: 0.1375
Epoch 17/100
3214/3214 [==============================] - 0s 54us/step - loss: 0.1188 - mse: 0.0226 - mae: 0.1188 - val_loss: 0.1367 - val_mse: 0.0297 - val_mae: 0.1367
Epoch 18/100
3214/3214 [==============================] - 0s 53us/step - loss: 0.1192 - mse: 0.0229 - mae: 0.1192 - val_loss: 0.1334 - val_mse: 0.0284 - val_mae: 0.1334
Epoch 19/100
3214/3214 [==============================] - 0s 56us/step - loss: 0.1184 - mse: 0.0224 - mae: 0.1184 - val_loss: 0.1371 - val_mse: 0.0298 - val_mae: 0.1371
Epoch 20/100
3214/3214 [==============================] - 0s 57us/step - loss: 0.1181 - mse: 0.0225 - mae: 0.1181 - val_loss: 0.1282 - val_mse: 0.0263 - val_mae: 0.1282
Epoch 21/100
3214/3214 [==============================] - 0s 54us/step - loss: 0.1182 - mse: 0.0226 - mae: 0.1182 - val_loss: 0.1321 - val_mse: 0.0279 - val_mae: 0.1321
Epoch 22/100
3214/3214 [==============================] - 0s 57us/step - loss: 0.1180 - mse: 0.0223 - mae: 0.1180 - val_loss: 0.1348 - val_mse: 0.0290 - val_mae: 0.1348
Epoch 23/100
3214/3214 [==============================] - 0s 55us/step - loss: 0.1180 - mse: 0.0224 - mae: 0.1180 - val_loss: 0.1298 - val_mse: 0.0269 - val_mae: 0.1298
Epoch 24/100
3214/3214 [==============================] - 0s 54us/step - loss: 0.1178 - mse: 0.0224 - mae: 0.1178 - val_loss: 0.1323 - val_mse: 0.0280 - val_mae: 0.1323
Epoch 25/100
3214/3214 [==============================] - 0s 60us/step - loss: 0.1184 - mse: 0.0225 - mae: 0.1184 - val_loss: 0.1374 - val_mse: 0.0301 - val_mae: 0.1374
Epoch 26/100
3214/3214 [==============================] - 0s 63us/step - loss: 0.1186 - mse: 0.0226 - mae: 0.1186 - val_loss: 0.1318 - val_mse: 0.0277 - val_mae: 0.1318
Epoch 27/100
3214/3214 [==============================] - 0s 58us/step - loss: 0.1180 - mse: 0.0223 - mae: 0.1180 - val_loss: 0.1310 - val_mse: 0.0274 - val_mae: 0.1310
Epoch 28/100
3214/3214 [==============================] - 0s 61us/step - loss: 0.1177 - mse: 0.0224 - mae: 0.1177 - val_loss: 0.1291 - val_mse: 0.0267 - val_mae: 0.1291
Epoch 29/100
3214/3214 [==============================] - 0s 58us/step - loss: 0.1180 - mse: 0.0224 - mae: 0.1180 - val_loss: 0.1276 - val_mse: 0.0260 - val_mae: 0.1276
Epoch 30/100
3214/3214 [==============================] - 0s 54us/step - loss: 0.1177 - mse: 0.0223 - mae: 0.1177 - val_loss: 0.1371 - val_mse: 0.0299 - val_mae: 0.1371
Epoch 31/100
3214/3214 [==============================] - 0s 61us/step - loss: 0.1174 - mse: 0.0222 - mae: 0.1174 - val_loss: 0.1293 - val_mse: 0.0267 - val_mae: 0.1293
Epoch 32/100
3214/3214 [==============================] - 0s 62us/step - loss: 0.1182 - mse: 0.0227 - mae: 0.1182 - val_loss: 0.1301 - val_mse: 0.0270 - val_mae: 0.1301
Epoch 33/100
3214/3214 [==============================] - 0s 56us/step - loss: 0.1171 - mse: 0.0221 - mae: 0.1171 - val_loss: 0.1285 - val_mse: 0.0264 - val_mae: 0.1285
Epoch 34/100
3214/3214 [==============================] - 0s 59us/step - loss: 0.1171 - mse: 0.0221 - mae: 0.1171 - val_loss: 0.1353 - val_mse: 0.0291 - val_mae: 0.1353
Epoch 35/100
3214/3214 [==============================] - 0s 57us/step - loss: 0.1175 - mse: 0.0223 - mae: 0.1175 - val_loss: 0.1294 - val_mse: 0.0267 - val_mae: 0.1294
Epoch 36/100
3214/3214 [==============================] - 0s 61us/step - loss: 0.1176 - mse: 0.0222 - mae: 0.1176 - val_loss: 0.1344 - val_mse: 0.0288 - val_mae: 0.1344
Epoch 37/100
3214/3214 [==============================] - 0s 70us/step - loss: 0.1169 - mse: 0.0221 - mae: 0.1169 - val_loss: 0.1303 - val_mse: 0.0270 - val_mae: 0.1303
Epoch 38/100
3214/3214 [==============================] - 0s 56us/step - loss: 0.1171 - mse: 0.0220 - mae: 0.1171 - val_loss: 0.1287 - val_mse: 0.0264 - val_mae: 0.1287
Epoch 39/100
1408/3214 [============>.................] - ETA: 0s - loss: 0.1162 - mse: 0.0219 - mae: 0.1162

In [ ]:
y_pred = model_lstm.predict(X_test).flatten()

In [ ]:
print('mean_squared_error', mean_squared_error(y_test, y_pred))
print('mean_absolute_error', mean_absolute_error(y_test, y_pred))

### 평균 절대 오차를 일일 퇴원환자수 단위로 환산하면?

In [ ]:
scaler.inverse_transform([[mean_absolute_error(y_test, y_pred)]])

## 퇴원환자수를 예측하는데 충분한 기간은 어느정도 일까?